/* Contact List */
.contacts {
    display: flex;
    height: calc(100% - 89px);
}

.contacts-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    padding: 35px 65px;
    background: var(--white);
    box-shadow: var(--shadow-sm);
    overflow-y: auto;
}

.contact-separator {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.character {
    margin-left: 35px;
}

.separator-line {
    margin: 16px 0 6px 0;
    width: 100%;
    border-top: 3px solid var(--light-gray);
    border-radius: 3px;
}

.contact {
    display: flex;
    gap: 35px;
    padding: 16px 24px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.contact:hover {
    background: var(--background);
}

.contact-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid white;
    background: orange;
}

.contact-initials {
    color: var(--white);
}

.contact-email,
.edit,
.delete {
    color: var(--secondary);
}

/* Contact Details */
.contact-details {
    height: 100%;
}

.contact-details-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
}

.contact-details-header h1 {
    position: relative;
    top: -8px;
}

.line {
    height: 60px;
    border-left: 3px solid var(--secondary);
    border-radius: 3px;
}

.contact-details-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    margin-right: 50px;
    color: var(--white);
    background: orange;
    border-radius: 100%;
    border: 3px solid white;
}

.contact-details-bubble p {
    font-size: 47px;
}

.contact-details-body {
    display: none;
    flex-direction: column;
    gap: 35px;
}

.contact-details-name {
    margin-bottom: 12px;
    white-space: nowrap;
}

.contact-actions {
    gap: 18px;
}

.contact-actions>div {
    gap: 12px;
    padding: 8px;
    white-space: nowrap;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.details-label {
    margin-bottom: 10px;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    padding: 0;
    border: none;
    border-radius: var(--border-radius-md);
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}


/* Modal */
.modal-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: var(--white);
    background: var(--primary);
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 50px 24px 0 24px;
}

.btn-submit {
    margin-top: 24px;
}

.close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.new-contact {
    position: absolute;
    margin-bottom: 24px;
    right: 64px;
    bottom: 50px;
}

#hide-details {
    display: none;
}


@media screen and (max-width: 1024px) {
    .contact-details-header {
        align-items: start;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    .contact-details-body {
        position: relative;
        display: none;
        gap: 24px;
    }

    .line {
        height: auto;
        width: 90px;
        border-left: 3px solid var(--secondary);
        border-top: 3px solid var(--secondary);
    }

    .contacts {
        position: relative;
        height: calc(100% - 89px);
    }

    .contacts-container {
        width: 100%;
        min-width: auto;
        padding: 30px;
    }

    .contact-details {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: white;
    }

    .contact-details-bubble {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    
    .contact-details-bubble p {
        font-size: var(--h5-font-size);
    }

    .contact-details-name {
        white-space: normal;
    }

    .contact {
        gap: 16px;
        width: 100%;
        padding: 10px 15px;
    }

    .contact-actions {
        position: relative;
        top: 10px;
        left: -80px;
    }

    .details-label {
        margin-bottom: 0;
    }

    dialog {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
        border-radius: 0;
        transform: translate(0%, 0%);
    }

    .new-contact {
        position: relative;
        right: 0;
        bottom: 0;
    }

    #hide-details {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 32px;
        height: 32px;
    }
}


@media screen and (max-width: 576px) {
    .contacts {
        position: relative;
        height: calc(100% - 70px - 80px);
    }
}