body {
    position: relative;
}


/* Animation */
@keyframes image {
    0% {
        transform: scale(5);
        margin-left: 40vw;
        margin-top: calc(50vh - 122px);
    }
    
    50% {
        transform: scale(5);
        margin-left: 40vw;
        margin-top: calc(50vh - 122px);
    }
    
    100% {
        transform: scale(1);
        margin-left: 0;
        margin-top: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes box {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(0);
    }
}


/* Global classes */
.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}


/* Top */
header {
    justify-content: space-between;
    height: 98px;
}

.logo {
    width: 80px;
    height: 98px;
}

.logo-animation {
    animation: image 2s;
}

.logo-responsive {
    /* display: none; */
    opacity: 0%;
    position: absolute;
    width: 80px;
    height: 98px;
}

.sign-up-section {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 51px;
    margin-bottom: 70px;
}

.animation {
    animation: opacity 2s;
}

.sign-up-button {
    height: 51px;
}


/* Center-box */
main {
    padding: 35px 115px;
    background-color: var(--white);
    box-shadow: var(--shadow-md);
    border-radius: var(--border-radius-md);
    align-self: center;
    align-items: center;
    gap: 40px;
}

form {
    align-items: center;
}

.buttons {
    gap: 50px;
}


/* Blue line under text */
.line {
    border-bottom: 3px solid var(--secondary);
    width: 150px;
}


/* Return button */
.relative {
    position: relative;
}

.back {
    position: absolute;
    left: 45px;
    top: 45px;
    cursor: pointer;
}


/* Input */
.text-input {
    width: 422px;
}

.mail-icon {
    background: url(../assets/icons/mail.svg) no-repeat right 21px top 13px !important;
}

.lock-icon {
    background: url(../assets/icons/lock.svg) no-repeat right 21px top 13px !important;
}

.user-icon {
    background: url(../assets/icons/user.svg) no-repeat right 21px top 13px !important;
}


/* Forgot password */
.link {
    margin-left: 25px;
    cursor: pointer;
}

.text {
    font-size: var(--h5-font-size);
    font-weight: 400;
    text-align: center;
}


/* Log in button */
.login {
    align-self: center;
    min-width: 145px;
    height: 51px;
}

/* Registration succesfull */
.msgBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.msg {
    border-radius: var(--border-radius-md);
    background-color: var(--primary);
    padding: var(--border-radius-md);
    color: var(--white);
    transform: scale(0);
    font-size: var(--h5-font-size);
    font-weight: 500;
}

.msg-animation {
    animation: box 5s;
}