main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

h1 {
    text-align: center;
}

.content-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 652px;
    padding: 35px 100px;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    background: var(--white);
    z-index: 0;
}

.line {
    width: 150px;
    height: 3px;
    margin: 35px 0;
    background-color: transparent;
    border: none;
    border-top: 3px solid var(--secondary);
    border-radius: 3px;
}

.input {
    display: flex;
    flex-direction: column;
}

.inp-user {
    margin-bottom: 35px;
    background: url('./../assets/icons/user.svg') no-repeat right 25px center;
    background-size: 21px 20px;
}

.inp-email {
    margin-bottom: 35px;
    background: url('./../assets/icons/mail.svg') no-repeat right 25px center;
    background-size: 18px 20px;
}

.inp-password {
    margin-bottom: 35px;
    background: url('./../assets/icons/lock.svg') no-repeat right 25px center;
    background-size: 21px 20px;
}

.btn-emph {
    font-size: var(--h5-font-size);
    font-weight: 700;
}

.btn-login {
    width: 145px;
}

.btn-back {
    position: absolute;
    top: 35px;
    left: 32px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

.btn-back:hover {
    transform: scale(110%);
}

.sign-up {
    position: absolute;
    top: 60px;
    right: 80px;
    display: flex;
    align-items: center;
    gap: 35px;
    white-space: nowrap;
}

.logo {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 100px;
    z-index: -1;
}

.spacing {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mt-10 {
    margin-top: 10px;
}

label {
    cursor: pointer;
}

p {
    text-align: justify;
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.anim-logo {
    animation: logo-animation 1s ease-in-out;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes logo-animation {
    0% {
        top: 50%;
        left: 50%;
        width: 274px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    99% {
        z-index: 2;
    }

    100% {
        top: 60px;
        left: 80px;
        width: 100px;
        z-index: -1;
    }
}


@media screen and (max-width: 576px) {
    .main {
        padding: 0 28px;
    }

    .content-box {
        padding: 22.5px 35px;
        width: 100%;
        min-height: auto;
    }

    .line {
        width: 88px;
        margin-top: 24px;
    }

    .inp-user {
        margin-bottom: 30px;
    }

    .inp-email {
        margin-bottom: 30px;
    }

    .inp-password {
        margin-bottom: 30px;
    }

    .btn-emph {
        font-size: var(--h6-font-size);
        width: 100%;
    }

    .btn-back {
        top: 24px;
        left: 20px;
    }

    .sign-up {
        top: auto;
        right: auto;
        gap: 21px;
        left: 50%;
        bottom: 10px;
        width: 242px;
        transform: translate(-50%, -50%);
    }

    .logo {
        top: 24px;
        left: 32px;
        width: 40px;
    }

    .spacing {
        align-items: flex-start;
        flex-direction: column;
        gap: 21px;
    }

    .btn {
        white-space: normal;
    }

    .txt-h1 {
        text-align: center;
    }


    @keyframes logo-animation {
        0% {
            top: 50%;
            left: 50%;
            width: 100px;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        99% {
            z-index: 2;
        }

        100% {
            top: 24px;
            left: 32px;
            width: 40px;
            z-index: -1;
        }
    }
}