/* Nav-Menu Desktop */
.logo-nav {
    align-self: center;
    width: 100px;
}

.nav-menu-desktop {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 24px;
    background: var(--primary);
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    padding: 0;
    list-style: none;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    height: 46px;
    opacity: 0.6;
    user-select: none;
}

.nav-menu-item:hover,
.active {
    background: var(--active);
    opacity: 1;
    outline: none;
}

.nav-menu-item:last-child {
    margin-top: auto;
}

.nav-menu-item a {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 46px;
    color: var(--white);
    font-size: var(--h6-font-size);
    text-decoration: none;
}

.nav-menu-item img {
    width: 24px;
    height: 24px;
    margin-left: 54px;

}

/* Nav-Menu Mobile */
.nav-menu-mobile {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: var(--primary);
}

.nav-menu-list-mobile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    padding: 0;
    list-style: none;
}

.nav-menu-item-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.nav-menu-item-mobile a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: var(--white);
    text-decoration: none;
}

.nav-menu-item-mobile a:hover,
.nav-menu-item-mobile a:focus,
.active {
    background: var(--active);
    outline: none;
    opacity: 1;
}

.nav-menu-item-mobile a > img {
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
}

.nav-menu-item-mobile a > span {
    font-size: 14px;
    white-space: nowrap;
}


@media screen and (max-width: 576px) {
    .nav-menu-desktop {
        display: none;
    }

    .nav-menu-mobile {
        display: inline;
    }
}