@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Medium.ttf');
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Bold.ttf');
    font-style: bold;
    font-weight: 700;
}


:root {
    --primary: #2A3647;
    --secondary: #29ABE2;
    --active: #091931;
    --urgent: #FF3D00;
    --medium: #FFA800;
    --low: #7AE229;
    --light-gray: #D1D1D1;
    --white: #FFFFFF;
    --background: #F6F7F8;
    --border-radius-sm: 8px;
    --border-radius-md: 30px;
    --shadow-sm: 0px 4px 4px rgba(0, 0, 0, 0.12);
    --shadow-md: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    --h1-font-size: 61px;
    --h2-font-size: 47px;
    --h3-font-size: 36px;
    --h4-font-size: 27px;
    --h5-font-size: 21px;
    --h6-font-size: 16px;
    --h7-font-size: 12px;
    --h8-font-size: 9px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: var(--h6-font-size);
}

html {
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--background);
}

/* Text */
.txt-h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
}

.txt-h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
}

.txt-h3 {
    font-size: var(--h3-font-size);
}

.txt-h4 {
    font-size: var(--h4-font-size);
}

.txt-h5 {
    font-size: var(--h5-font-size);
}

.txt-h6 {
    font-size: var(--h6-font-size);
}

.txt-h7 {
    font-size: var(--h7-font-size);
}

.txt-h8 {
    font-size: var(--h8-font-size);
}


/* Buttons */
.btn {
    font-size: var(--h6-font-size);
    padding: 10px 20px;
    border-radius: var(--border-radius-sm);
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 
        color 0.14s ease-in-out,
        background 0.14s ease-in-out,
        box-shadow 0.14s ease-in-out;
}

.btn-primary {
    color: var(--white);
    background: var(--primary);
    border: none;
}

.btn-primary:hover {
    background: var(--secondary);
    box-shadow: var(--shadow-sm);
}

.btn-secondary {
    color: var(--primary);
    background: var(--white);
    border: 1px solid var(--primary);
}

.btn-secondary:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    box-shadow: var(--shadow-sm);
}

.btn-icon {
    position: relative;
    top: 2px;
    height: 17px;
    margin-left: 6px;
}


/* Link */
.link {
    color: var(--secondary);
    text-decoration: none;
    white-space: nowrap;
}

.link:hover {
    text-decoration: underline;
}


/* Input */
.text-input {
    font-size: var(--h6-font-size);
    padding: 13px 21px;
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius-sm);
    background: white;
}

.text-input::placeholder {
    color: var(--light-gray);
}

.checkbox {
    margin-right: 10px;
    cursor: pointer;
}


/* Custom Scollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(42, 54, 71, 0.5);
    border-radius: 5px;
}


/* Helper */
.content {
    height: calc(100% - 89px);
    padding: 80px 100px 40px 100px;
    overflow: auto;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}


@media screen and (max-width: 576px) {
    .txt-h1 {
        font-size: var(--h3-font-size);
    }

    .txt-h2 {
        font-size: var(--h3-font-size);
    }

    .txt-h4 {
        font-size: var(--h5-font-size);
    }

    .txt-h5 {
        font-size: var(--h6-font-size);
    }

    .text-input {
        padding: 8px 21px;
    }

    .content {
        height: calc(100% - 70px - 80px);
        padding: 24px 28px;
    }
}