.summary-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1% 3%;
}

.fix{
    margin: auto;
    width: 32%;
}

.bold{
    font-weight: 700;
}

.space{
    height: 59px;
    border: 3px solid #29ABE2;
    width: 0;
    margin: 0 30px ;
}

.summary-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.margin-L-20{
    margin-left: 20%;
}

.margin-B-5{
    margin-bottom: 2%;
}

.icons{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}


.taskboards{
    display: flex;
    flex-direction: row;
    flex: none;
    justify-content: space-between;
order: 0;
flex-grow: 0;
}
.taskboard{
margin: 0 3%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 25px 0px;
gap: 5px;
width: 170px;
height: 155px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 30px;
margin: 5px 10px;
}

.margin-l-0{
    margin-left: 0;
}

.font1{
    width: 40px;
height: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */

text-align: center;

color: #000000;
}

.font2{
    width: 86px;
height: 50px;

/* Version 3/t6 */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;
/* or 25px */

text-align: center;

color: #2A3647;
}

.font3{
    width: 178px;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;
/* or 25px */


color: #2A3647;
}

.font4{
    width: 148px;
height: 19px;

/* Version 2/body */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */


color: #2A3647;
}

.font5{
    width: 50px;
height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 47px;
line-height: 120%;
/* or 56px */

text-align: center;

color: #000000;
}

.font6{
    width: 338px;
height: 56px;

/* Version 2/t2 */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 47px;
line-height: 120%;
/* or 56px */


color: #2A3647;
}

.font7{
    width: 385px;
height: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */


/* Ligth blue */

color: #29ABE2;

}

.task-infos{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 28px 48px;
gap: 61px;
  
height: 130px;

/* white */

background: #FFFFFF;
/* nuevo */

box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 30px;
margin-top: 2%;
}

.margin-R-65{
    margin-right: -65px;
    width: 100%;
}

.line{
    width: 0px;
height: 102.02px;

/* Style */

border: 2px solid #D1D1D1;
}

.to-do{
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
padding: 38px 19px;
gap: 18px;
  
width: 272.5px;
height: 150px;
  
/* white */

    background: #FFFFFF;
/* nuevo */
  
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
.to-dos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
  }
  
  .greeting{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
