<nav class="h-100">
    <!-- Nav-Desktop -->
    <div class="nav-menu-desktop">
        <img src="assets/img/logo_white.svg" alt="Logo" class="logo-nav" draggable="false">
        <ul class="nav-menu-list">
            <li class="nav-menu-item" id="summary-desktop">
                <a href="./summary.html" draggable="false">
                    <img src="assets/icons/summary.svg" draggable="false">
                    <span>Summary</span>
                </a>
            </li>
            <li class="nav-menu-item" id="board-desktop">
                <a href="./board.html" draggable="false">
                    <img src="assets/icons/board.svg" draggable="false">
                    <span>Board</span>
                </a>
            </li>
            <li class="nav-menu-item" id="task-desktop">
                <a href="./task.html" draggable="false">
                    <img src="assets/icons/task.svg" draggable="false">
                    <span>Add Task</span>
                </a>
            </li>
            <li class="nav-menu-item" id="contacts-desktop">
                <a href="./contacts.html" draggable="false">
                    <img src="assets/icons/contact.svg" draggable="false">
                    <span>Contacts</span>
                </a>
            </li>
            <li class="nav-menu-item" id="legal-desktop">
                <a href="./legal.html" draggable="false">
                    <img src="assets/icons/info.svg" draggable="false">
                    <span>Legal notice </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Nav-Mobile -->
    <div class="nav-menu-mobile">
        <ul class="nav-menu-list-mobile">
            <li class="nav-menu-item-mobile" id="summary-mobile">
                <a href="./summary.html" id="summary-mobile" draggable="false">
                    <img src="./assets/icons/summary.svg" draggable="false">
                    <span>Summary</span>
                </a>
            </li>
            <li class="nav-menu-item-mobile" id="board-mobile">
                <a href="./board.html" id="board-mobile" draggable="false">
                    <img src="./assets/icons/board.svg" draggable="false">
                    <span>Board</span>
                </a>
            </li>
            <li class="nav-menu-item-mobile" id="task-mobile">
                <a href="./task.html" id="task-mobile" draggable="false">
                    <img src="./assets/icons/task.svg" draggable="false">
                    <span>Add Task</span>
                </a>
            </li>
            <li class="nav-menu-item-mobile" id="contacts-mobile">
                <a href="./contacts.html" id="contacts-mobile" draggable="false">
                    <img src="./assets/icons/contact.svg" draggable="false">
                    <span>Contacts</span>
                </a>
            </li>
        </ul>
    </div>
</nav>