<div class="header-template">
    <span>Kanban Project Management Tool</span>
    <div class="topbar-menu">
        <a href="./legal.html" draggable="false"><img src="./assets/icons/legal.svg" alt="Legal Icon" class="legal-icon" draggable="false"></a>
        <a href="./help.html" draggable="false"><img src="./assets/icons/question.svg" alt="Question Icon" class="help-icon" draggable="false"></a>
        <img src="./assets/img/xxx.jpg" alt="Profile Picture" class="profile-picture" id="profile-picture" draggable="false">
        <div class="logout-modal d-none" id="logout-modal">
            <a href="./index.html">Logout</a>
        </div>
    </div>
</div>
<div class="notification" id="notification"></div>